<div *ngIf = "isLoading" class="loader">

</div>

<form *ngIf = "!isLoading" [formGroup] = "itemForm" novalidate class = "page-spacer">
    <h2>Order Details</h2>
    <p>Please fill in the order details</p>

    <legend>
  
    <div class="form-group">
        <span style = "color: red;">*</span>
        <span>Weight (pounds)</span>
    <div style = "width:50%;">
        <input type = "number" class = "form-control" formControlName="weight" min = "0.5" step = "0.5" max = "15">
    </div>

    </div>
    
    <div class="form-group">
        <span style = "color: red;">*</span>
        <span>Total Amount</span>
    <div style = "width:50%;">
        <input type = "number" class = "form-control" formControlName="totalAmount">
    </div>
    </div>
    
    <div class="form-group">
        <span style = "color: red;">*</span>
        <span>Advance Amount</span>
    <div style = "width:50%;">
        <input type = "number" class = "form-control" formControlName="advanceAmount">
    </div>
    </div>

    <div class="form-group">
        <span style = "color: red;">*</span>
        <span>Balance Amount</span>
    <div style = "width:50%;">
        <input type = "number" class = "form-control" formControlName="balanceAmount">
    </div>
    </div>

    <div class="form-group">
        <span style = "color: red;">*</span>
        <span>Payment Mode</span>
    <div style = "width:50%;">
            <p-dropdown [options]="paymentOptions" optionLabel="name" optionValue = "name" formControlName = "advancePaymentMode"></p-dropdown>
    </div>
    </div>

    <div class="form-group">
        <span>Message On Item</span>
    <div>
        <textarea rows="5" cols="50" formControlName="message"></textarea>
    </div>

    </div>

    <div class="form-group">
        <span>Particulars</span>
    <div style = "width:50%;">
        <input type = "text" class = "form-control" formControlName="particulars">
    </div>

    </div>

    <div class="row">
        <div class="col xs-12">
            <span style = "color: red;">*</span>
            <span>Cake Image</span>
            <input type = "file" accept="image/*" (change) = "onFileChange($event)">
        </div>
    </div>

    <div class="row">
        <div class="col-xs-6">
            <div class = "display_image" *ngIf = "imageUrl">
                <img [src]="imageUrl" *ngIf="imageUrl" class = "display_image">
            </div>
        </div>
    </div>
    
    <div class="row">
        <div class="col xs-12">
            <span>Photo On Cake</span>
            <input type = "file" accept="image/*" (change) = "onPhotoFileChange($event)">
        </div>
    </div>

    <div class="row">
        <div class="col-xs-6">
            <div class = "display_image" *ngIf = "photoUrl">
                <img [src]="photoUrl" *ngIf="photoUrl" class = "display_image">
            </div>
        </div>
    </div>

    </legend>
    <div style="margin-bottom: 20px;">
        <button class = "btn btn-danger" (click) = "goBack()">Go Back</button>
    <button class = "btn btn-success" (click) = "submitForm()" [disabled] = "this.itemForm.invalid || this.itemForm.pending" style = "margin-left: 15px;">Submit</button>
    </div>
    
</form>





