<div class="loader" *ngIf = "isLoading">

</div>

<div class="container" *ngIf = "!isLoading">
    <h1>Order Details</h1>
    <div class="row">
        <div class="col-xs-4">
            <h4>Order Id : {{orderKey}}</h4>
        </div>
        <div class="col-xs-4">
            <h4>Name : {{order.customerName}}</h4>
        </div>
        <div class="col-xs-2">
            <h4>Balance : Rs.{{order.balanceAmount}}</h4>
        </div>
        <div class="col-xs-2">
            <button class = "btn btn-primary" (click) = "showBalanceDialog()" *ngIf = "order.balanceAmount!=0">Collect Balance</button>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-xs-4">
                    <h4>Total : Rs.{{order.totalAmount}}</h4>
                </div>
                <div class="col-xs-4">
                    <h4>Advance : Rs.{{order.advanceAmount}}</h4>
                </div>
                <div class="col-xs-4" *ngIf="showEditButton">
                    <button class = "btn btn-primary" (click)="editOrder()">EDIT ORDER!</button>
                    <button class = "btn btn-success" (click)="goToHistory()">VIEW HISTORY</button>
                </div>
            </div>
        </div>
        
    </div>
    <div class="row">
        <div class="col-xs-12">
            <h5>Particulars : {{order.particulars}}</h5>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <h5>Delivery Type : {{order.deliveryType == 1 ? "Home Delivery" : "Self"}}</h5>
        </div>
    </div>

    <div class="row" *ngIf = "order.Address!=''">
        <div class="col-xs-12">
            <h5>Address : {{order.Address}}</h5>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-3">
            <h5>Cakes seen by : {{order.cakesSeenBy}}</h5>
        </div>
        <div class="col-xs-3">
            <h5>Snacks seen by : {{order.snacksSeenBy}}</h5>
        </div>
        <div class="col-xs-3" *ngIf = "order.status == 'ND' && orderReadyForDelivery">
            <button class = "btn btn-success" (click) = "deliverOrder()">Deliver Order</button>
        </div>
        <div class="col-xs-3" *ngIf = "order.status == 'ND'">
            <button class = "btn btn-danger" (click)="cancelOrder()">Cancel Order</button>
        </div>
    </div>


    <div class="card">
        <p-table [value]="itemList" [tableStyle]="{ 'min-width': '100%' }">
            <ng-template pTemplate="header">
                <tr>
                    <th>Name</th>
                    <th>Quantity</th>
                    <th>Total</th>
                    <th>Status</th>
                    <th>Delivery</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-item>
                <tr>
                    <td>{{ item.name }}</td>
                    <td *ngIf = "item.itemType.includes('PANEER')">{{ item.quantity }}g</td>
                    <td *ngIf = "!item.itemType.includes('PANEER')">{{ item.quantity }}</td>
                    <td>{{ item.total }}</td>
                    <td *ngIf = "item.prepared == 'YES'">
                        <div class="green-dot">

                        </div>
                    </td>
                    <td *ngIf = "item.prepared == 'NO'">
                        <div class = "red-dot">

                        </div>
                    </td>
                    <td *ngIf = "(item.deliveredTo == null || item.deliveredTo == undefined) && item.prepared == 'YES'"><button class = "btn btn-success" (click) = "showDialog(item.rowIndex)">Deliver</button></td>
                    <td *ngIf = "(item.deliveredTo == null || item.deliveredTo == undefined) && item.prepared != 'YES'">
                        <div class = "red-dot">

                        </div>
                    </td>
                    <td *ngIf = "item.deliveredTo != null && item.deliveredTo != undefined">{{item.deliveredTo}}</td>
                </tr>
            </ng-template>
        </p-table>
    </div>

    <p-dialog header="Deliver To : " [(visible)]="visibleDeliveryDialog" [modal]="true" [style]="{ width: '50vw' }" [draggable]="false" [resizable]="false">
        <div *ngIf = "!isLoadingInDialog">
            <input type = "text" style = "margin-right: 10px; height:30px;" [(ngModel)] = "deliverTo"> 
            <button class = "btn btn-small btn-success" (click) = "addDeliveryPersonName()">OK</button>
        </div>
        
        <div class="loader" *ngIf = "isLoadingInDialog" style = "margin: auto;">
    
        </div>
    </p-dialog>

    <p-dialog header="Balance Collected Rs. : " [(visible)]="visibleBalanceDialog" [modal]="true" [style]="{ width: '50vw' }" [draggable]="false" [resizable]="false">
        <div *ngIf = "!isLoadingInDialog">
            <input type = "number" style = "margin-right: 10px; height:30px;" [(ngModel)] = "collectedBalance"> 
            <button class = "btn btn-small btn-success" (click) = "updateBalance()">OK</button>
        </div>
        
        <div class="loader" *ngIf = "isLoadingInDialog" style = "margin: auto;">
    
        </div>
    </p-dialog>


    

</div>