<!-- <nav class = "navbar navbar-default sticky">
    <div class="container-fluid">
        <div class="navbar-header">
                <img src = "../../assets/muskan.png" class = "navbar-brand">
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a routerLink = "/">Add Order</a></li>
            </ul>
            <ul class="nav navbar-nav">
                <li><a routerLink = "/inventory">Inventory</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a routerLink = "/viewOrders">View Orders</a></li>
            </ul>
        </div>
    </div>
</nav> -->


<nav class = "navbar navbar-default">
    <div class="navbar-header">
        <button type = "button" class = "navbar-toggle" data-target=".navbar-collapse" data-toggle="collapse">
            <span class = "icon-bar"></span>
            <span class = "icon-bar"></span>
            <span class = "icon-bar"></span>
        </button>
    </div>

    <div class="navbar-header">
        <img src = "../../assets/sweetShop.jpeg" class = "navbar-brand">
    </div>

    <div class="collapse navbar-collapse" id = "menu">
        <ul class="nav navbar-nav">
            <li><a routerLink = "/">Add Order</a></li>
            <li><a routerLink = "/inventory">Inventory</a></li>
            <li><a routerLink = "/viewOrders/owner">View Orders</a></li>
            <li><a routerLink = "/monthlySales">Monthly Sales</a></li>
        </ul>
    </div>
</nav>