<nav class = "navbar navbar-default sticky">
    <div class="container-fluid">
        <div class="navbar-header">
                <img src = "../../assets/muskan.png" class = "navbar-brand">
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li routerLinkActive = "active"><a routerLink = "/categories">Add Order</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li routerLinkActive = "active"><a routerLink = "/manage">View Orders</a></li>
            </ul>
        </div>
    </div>
</nav>
