<div class="jumbotron container">
    <div class = "image-holder">
        <img src = "../../assets/sweetShop.jpeg" style = "margin: auto;">
        
        </div>
        <h3 style= "text-align: center;">Sweet Shop</h3>
        <div *ngIf = "showOrders">
            <h4 style = "text-align: center; margin-top: 20px;">Select Order Type</h4>
    <div class="row" style = "text-align: center;">
        
        <div class="col-xs-12" style = "margin-bottom: 3px;">
            <button class = "btn btn-primary" (click) = "openOrder('REGULAR')">REGULAR</button>
        </div>
        <div class="col-xs-12" style = "margin-bottom: 3px;">
            <button class = "btn btn-primary" (click) = "openOrder('CUSTOM')">CUSTOM</button>
        </div>

        <div class="col-xs-12" style = "margin-bottom: 3px;">
            <button class = "btn btn-primary" (click) = "openOrder('COUNTER')">COUNTER</button>
        </div>

        <div class="col-xs-12">
            <button class = "btn btn-primary" (click) = "openOrder('GIFT')">GIFT ORDER</button>
        </div>
     
    </div>
       
    </div>

    <div *ngIf = "!showOrders" style = "text-align:center;">
        <div class="col-xs-12" style = "margin-bottom: 3px;">
            <button class = "btn btn-primary" (click) = "setSystem('TAB')">I'm On TAB</button>
        </div>
        <div class="col-xs-12" style = "margin-bottom: 3px;">
            <button class = "btn btn-primary" (click) = "setSystem('LAPTOP')">I'm On Laptop</button>
        </div>
    </div>


    
</div>