<div class="container">
    <h3>Add items for your order.</h3>
    <div class="row">
        <div class="col-xs-2">
            <p>Quantity</p>
            <input type = "number">
        </div>
        <div class="col-xs-2">
            <p>Pounds</p>
            <input type = "number">
        </div>
        <div class = "col-xs-4">
            <p>Item list</p>   
            <p-dropdown [options]="items" [(ngModel)]="selectedItem" optionLabel="itemName" [filter]="true" filterBy="itemName" [showClear]="true" placeholder="Select an Item" style = "width:900px;">
                <ng-template pTemplate="selectedItem">
                    <div class="country-item country-item-value" *ngIf="selectedItem">
                        <div>{{selectedItem.itemName}}</div>
                    </div>
                </ng-template>
                <ng-template let-country pTemplate="item">
                    <div class="country-item">
                        <div>{{country.itemName}}</div>
                    </div>
                </ng-template>
            </p-dropdown> 
        </div>
        <div class="col xs-4">
            <p>Add it here..</p>
            <button class = "btn btn-primary">Add</button>
        </div>
    </div>
    
    
</div>
