<div class = "loader" *ngIf = "isLoading">

</div>

<div class="container" *ngIf = "!isLoading">
    <h3>Add items for your order.</h3>
    <div class="row">
        <div class="col-xs-2">
            <p>Quantity</p>
            <input type = "number" [(ngModel)] = "currentQuantity" class = "form-control">
        </div>
        <div class="col-xs-2" *ngIf = "showPoundInput"> 
            <p>Pounds</p>
            <input type = "number" [(ngModel)] = "currentPound" class = "form-control">
        </div>
        <div class = "col-xs-4">
            <p>Item list</p>   
            <p-dropdown (onChange) = "checkValueChange()" [options]="items" [(ngModel)]="selectedItem" optionLabel="itemName" [filter]="true" filterBy="itemName" [showClear]="true" placeholder="Select an Item">
                <ng-template pTemplate="selectedItem">
                    <div class="country-item country-item-value" *ngIf="selectedItem">
                        <div>{{selectedItem.itemName}}</div>
                    </div>
                </ng-template>
                <ng-template let-country pTemplate="item">
                    <div class="country-item">
                        <div>{{country.itemName}}</div>
                    </div>
                </ng-template>
            </p-dropdown> 
        </div>
        <div class="col xs-4">
            <p>Add it here..</p>
            <button class = "btn btn-primary" (click) = "addProduct()">Add</button>
        </div>
    </div>

    <div *ngIf = "products.length!=0">
    <h3>Item Details.</h3>
    <p-table [value]="products" [tableStyle]="{'min-width': '50rem'}">
        <ng-template pTemplate="header">
            <tr>
                <th>Name</th>
                <th>Price per item</th>
                <th>Quantity</th>
                <th>Total</th>
                <th>Action</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-product>
            <tr>
                <td>{{product.name}}</td>
                <td>{{product.pricePerProduct}}</td>
                <td>{{product.quantity}}</td>
                <td>{{product.total}}</td>
                <td><button class = "btn btn-danger" (click) = "deleteProduct(product)">Delete</button></td>
            </tr>
        </ng-template>
    </p-table>
    </div>
    <legend style = "margin-top: 15px;"></legend>
    <div class="row">
        <form [formGroup] = "regularOrderForm">
        <div class="col-xs-3">
            <p>Total Amount</p>
            <input type = "number" class ="form-control" formControlName="totalAmount" [disabled] = true>
        </div>
        <div class="col-xs-3">
            <p>Advance Amount</p>
            <input type = "number" class ="form-control" formControlName = "advanceAmount" (input) = "updateBalance($event)">
        </div>
        <div class = "col-xs-3">
            <p>Payment mode</p>
            <p-dropdown [options]="paymentOptions" optionLabel="name" optionValue = "name" formControlName = "advancePaymentMode"></p-dropdown>
        </div>
        <div class="col-xs-3">
            <p>Balance Amount</p>
            <input type = "number" class ="form-control" formControlName = "balanceAmount">
        </div>
        </form>
    </div>
    
    <legend style = "margin-top: 15px;"></legend>

    <button class = "btn btn-success" (click) = "createRegularOrder()">Submit</button>
    
</div>
