<div class = "loader" *ngIf = "isLoading">

</div>

<div class = "container jumbotron" style = "margin: 10px;" *ngIf = "isEditMode" style = "text-align: center;">
    <div *ngIf = "!isDelivered && !isCancelled">
        <div *ngIf = "type == 'owner'">
            <label>Delivered To :</label>
    <input type = "text" [(ngModel)] = "deliveredTo">
        </div>
        
    
    <button *ngIf= "type == 'owner'" class = "btn btn-lg btn-success" style = "margin:10px;" (click) = "deliverOrder()">DELIVER</button>
    
    
    <button *ngIf = "!isPrepared && type == 'chef'" class = "btn btn-lg btn-primary" style = "margin:10px;" (click) = "markAsPrepared()">PREPARED</button>
    
    
        <button *ngIf = "!isPrepared && type == 'owner'" class = "btn btn-lg btn-danger" style = "margin: 10px;" (click) = "cancelOrder()">CANCEL</button>
    
    </div>
    
    <p *ngIf = "isDelivered && !isPrepared && !isCancelled" style = "color : green; font-weight: 300; text-align: center;">ORDER IS DELIVERED TO : {{deliveredTo | uppercase}}</p>
    <p *ngIf = "isCancelled && !isDelivered && !isPrepared" style = "color:red; font-weight: 300; text-align: center;">ORDER IS CANCELLED.</p>
    <p *ngIf = "isPrepared" style = "color:green; font-weight: 300; text-align: center;">ORDER IS PREPARED. READY TO DELIVER.</p>
</div>

<div class = "container" *ngIf = "isEditMode">
    <div class="row">
        <div class="col-xs-12">
            <h5>Delivery Date : {{getDeliveryDate(deliveryDate)}}</h5>
        </div>

        <div class="col-xs-12">
            <h5>Delivery Time : {{deliveryTime}}</h5>
        </div>
    </div>
</div>

<div class="container" *ngIf = "!isLoading">
    <h3 *ngIf = "type == 'owner'">Add items for your order.</h3>
    <div class="row" *ngIf = "type == 'owner'">
        <div class="col-xs-6 col-md-2">
            <p>Quantity</p>
            <input type = "number" [(ngModel)] = "currentQuantity" class = "form-control">
            <span *ngIf = "showGramLabel" style = "color: red;">GRAMS</span>
        </div>
        <div class="col-xs-6 col-md-2" *ngIf = "showPoundInput"> 
            <p>Pounds</p>
            <input type = "number" [(ngModel)] = "currentPound" class = "form-control">
        </div>
        <div class = "col-xs-8 col-md-4">
            <p>Item list</p>   
            <p-dropdown (onChange) = "checkValueChange()" [options]="items" [(ngModel)]="selectedItem" optionLabel="itemName" [filter]="true" filterBy="itemName" [showClear]="true" placeholder="Select an Item">
                <ng-template pTemplate="selectedItem">
                    <div class="country-item country-item-value" *ngIf="selectedItem">
                        <div>{{selectedItem.itemName}}</div>
                    </div>
                </ng-template>
                <ng-template let-country pTemplate="item">
                    <div class="country-item">
                        <div>{{country.itemName}}</div>
                    </div>
                </ng-template>
            </p-dropdown> 
        </div>
        <div class="col-xs-4 col-md-4">
            <p>Add it here..</p>
            <button class = "btn btn-primary" (click) = "addProduct()" [disabled] = "showPoundInput && (currentPound == 0 || currentPound == null)">Add</button>
        </div>
    </div>


    
    <div *ngIf = "products.length!=0" class = "row">
    <h3>Item Details.</h3>
    <div class="col-xs-12">
    <p-table [value]="products" [responsive] = "true" [scrollable] = "true">
        <ng-template pTemplate="header">
            <tr>
                <th>Name</th>
                <th>Price per item</th>
                <th>Quantity</th>
                <th>Total</th>
                <th>Action</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-product>
            <tr *ngIf = "type == 'owner'">
                <td>{{product.name}}</td>
                <td>{{product.pricePerProduct}}</td>
                <td *ngIf = "product.itemType.includes('PANEER')">{{product.quantity}}g</td>
                <td *ngIf = "!product.itemType.includes('PANEER')">{{product.quantity}}</td>
                <td>{{product.total}}</td>
                <td><button class = "btn btn-danger" (click) = "deleteProduct(product)">Delete</button></td>
            </tr>
            <tr *ngIf = "type == 'chef'">
                <td>{{product.name}}</td>
                <td>--</td>
                <td>{{product.quantity}}</td>
                <td>--</td>
                <td><button class = "btn btn-danger" (click) = "deleteProduct(product)" [disabled] = "true">Delete</button></td>
            </tr>
        </ng-template>
    </p-table>
    </div>
    </div>

    <div class = "row">
        <form [formGroup] = "regularOrderForm">
            <div class="col-xs-6">
                <h3>particulars : </h3>
                <input *ngIf = "type == 'owner'" type = "text" class = "form-control" formControlName = "particulars">
                <p *ngIf = "type == 'chef'">{{regularOrderForm.controls['particulars'].value}}</p>
            </div>
        </form>
    </div>


    <legend style = "margin-top: 15px;"></legend>
    <div class="row" *ngIf = "type == 'owner'">
        <form [formGroup] = "regularOrderForm">
        <div class="col-xs-6 col-md-3">
            <p>Total Amount</p>
            <input type = "number" class ="form-control" formControlName="totalAmount" [disabled] = true>
        </div>
        <div class="col-xs-6 col-md-3">
            <p>Advance Amount</p>
            <input type = "number" class ="form-control" formControlName = "advanceAmount" (input) = "updateBalance($event)">
        </div>
        <div class = "col-xs-6 col-md-3">
            <p>Payment mode</p>
            <p-dropdown [options]="paymentOptions" optionLabel="name" optionValue = "name" formControlName = "advancePaymentMode"></p-dropdown>
        </div>
        <div class="col-xs-6 col-md-3">
            <p>Balance Amount</p>
            <input type = "number" class ="form-control" formControlName = "balanceAmount">
        </div>
        </form>
    </div>
    
    <legend style = "margin-top: 15px;"></legend>
    <button class = "btn btn-success" (click) = "createRegularOrder()" *ngIf = "!isEditMode">Submit</button>
    <button class = "btn btn-danger" (click) = "updateRegularOrder()" *ngIf = "isEditMode && !isDelivered && !isCancelled && type == 'owner'">Update</button>
    
</div>
