.order-card{
    margin-top:15px; min-height:70px; padding-top:20px; text-align: center; margin-right: 3px; color:black; display : flex; flex-direction: column; border-radius: 10px;
    cursor: pointer;
}

.order-card-custom{
    margin-top:15px; min-height:70px; padding-top:20px; text-align: center; margin-right: 3px; color:black; display : flex; flex-direction: column; border-radius:10px;
    cursor: pointer;
}

.delivered{
    background-color: lightblue;
}

.prepared {
    background-color: lightgreen;
}

.cancel{
    background-color: lightcoral;
}

.inprogress{
    background-color: yellow;
}

.flex-container {
    display: flex;
    flex-direction: column;
    min-height: 70px;
  }

.parchi {
    color: white;
}

.tag {
    position: absolute;
    top: 2px;
    right: 2px;
    background-color: royalblue;
    color: #ffffff;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 5px;
  }