.order-card{
    margin-top:15px; min-height:70px; padding-top:20px; text-align: center; background-color:pink; margin-right: 3px; color:black; display : flex; flex-direction: column;
}

.order-card-custom{
    margin-top:15px; min-height:70px; padding-top:20px; text-align: center; background-color:greenyellow; margin-right: 3px; color:black; display : flex; flex-direction: column;
}

.flex-container {
    display: flex;
    flex-direction: column;
    min-height: 70px;
  }