.order-card{
    margin-top:15px; min-height:70px; padding-top:20px; text-align: center; margin-right: 3px; color:black; display : flex; flex-direction: column; border-radius: 10px;
    cursor: pointer;
}

.order-card-custom{
    margin-top:15px; min-height:70px; padding-top:20px; text-align: center; margin-right: 3px; color:black; display : flex; flex-direction: column; border-radius:10px;
    cursor: pointer;
}

.delivered{
    background-color: lightblue;
}

.prepared {
    background-color: lightgreen;
}

.cancel{
    background-color: lightcoral;
}

.inprogress{
    background-color: yellow;
}

.flex-container {
    display: flex;
    flex-direction: column;
    min-height: 70px;
  }

.parchi {
    color: white;
}

// .tag {
//     position: absolute;
//     top: 2px;
//     right: 2px;
//     background-color: royalblue;
//     color: #ffffff;
//     font-weight: bold;
//     padding: 5px 10px;
//     border-radius: 5px;
//   }

//   .tag2 {
//     position: absolute;
//     top: 2px;
//     left: 2px;
//     background-color: royalblue;
//     color: #ffffff;
//     font-weight: bold;
//     padding: 5px 10px;
//     border-radius: 5px;
//   }

//   .tag3 {
//     position: absolute;
//     bottom: 2px;
//     right: 2px;
//     background-color: royalblue;
//     color: #ffffff;
//     font-weight: bold;
//     padding: 5px 10px;
//     border-radius: 5px;
//   }

  .tag, .tag2, .tag3 {
    background-color: royalblue;
    color: #ffffff;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 5px;
    margin-bottom: 5px;
    display: inline-block;
  }
  