<div class = "sticky1">
    <app-page-location></app-page-location>
</div>

<div class="container" *ngIf="formNumber == 1">
    <app-customer-form [isCounterOrder]=isCounterOrder [action]=action></app-customer-form>    
</div>

<div class="container" *ngIf="formNumber != 1">
    <app-item-form *ngIf = "isCustomOrderSelected && !isCounterOrder && !isGiftOrder"></app-item-form>
    <app-custom-giftbox-form *ngIf = "isGiftOrder && !isCustomOrderSelected && !isCounterOrder"></app-custom-giftbox-form>
    <app-regular-order-form *ngIf = "!isCustomOrderSelected && !isGiftOrder"></app-regular-order-form>
</div>