
<div class="page-location">
    <ul>
      <li>
        <div *ngIf="formStep > 1" class="number-mark circle-color-inactive">1</div>
        <div *ngIf="formStep ==1" [ngClass]="formStep == 1 ? 'number-mark circle-color-active' : 'number-mark circle-color-inactive'">1</div>
        <span [ngClass]="formStep == 1 ? 'active' : 'inactive'">Customer Details</span>
      </li>
      <li>
        <div *ngIf="formStep > 2" class="number-mark circle-color-inactive"></div>
        <div *ngIf="formStep == 1 || formStep == 2"
             [ngClass]="formStep == 1 ? 'number-mark circle-color-inactive' : 'number-mark circle-color-active'">2</div>
        <span [ngClass]="formStep == 2 ? 'active' : 'inactive'">Order Details</span>
      </li>
    </ul>
  </div>
  
    <div class="page-location-gradient"></div>  