<div class="container">
    <h3 style = "display: inline-block; margin-right: 10px;">All Your Inventory Items</h3> 
    <button class = "btn btn-success" style = "display: inline-block;" (click) = "addNewItem()">Add a new item</button>
    <hr>
    <div class="loader" *ngIf = "isLoading"></div>
      <ul class = "list-group list-group-flush" *ngIf = "!isLoading">
        <li *ngFor = "let item of items;let i = index">
          <span class="product-name">{{item.itemName | uppercase}} , Rs.{{item.price}}</span>
          <div class="buttons">
            <button class="btn btn-primary" style = "margin-right: 2px;" (click) = "editItem(i)">Edit</button>
            <button class="btn btn-danger" (click) = "deleteItem(i)">Delete</button>
          </div>
        </li>
      </ul>
      
</div>