<app-header *ngIf = "showHeader"></app-header>
<div class="jumbotron" *ngIf = "dueMessage!=''">
    <h3 style = "color:lightcoral; text-align: center;">{{dueMessage}}</h3>
    <p style = "text-align: center;">If paid after disconnection , it can take up to 6-8 hours to make app functioning again.</p>
    <p style = "text-align:center; color: green; font-weight: bold;">Please scan QR code below and whatsapp screenshot of PAID to 9087003776.</p>
    <p style = "text-align: center;">Close this tab , and re open app to use again.</p>
    <div>
        <button style = "position:absolute; left:45%; right:40%; width: 100px;" class = "btn btn-primary" (click) = "goToPayment()">Pay Now</button>
    </div>
</div>

<router-outlet></router-outlet>