<form [formGroup] = "customerForm" novalidate class = "page-spacer">
    <h2>Customer Information</h2>
    <p>Please fill in the customer details</p>
    <legend>
    <div class="form-group">
        <span>Name</span>
    <div style = "width:50%;">
        <input type = "text" class = "form-control" formControlName="customerName">
    </div>
    </div>
    
    <div class="form-group">
        <span>Contact</span>
    <div style = "width:50%;">
        <input type = "text" class = "form-control" formControlName="Contact">
    </div>

    </div>
    
    <div class="form-group">
        <span>Address</span>
    <div style = "width:50%;">
        <input type = "text" class = "form-control" formControlName="Address">
    </div>
    </div>
    
    <div class="form-group">
        <span>Booking Date</span>
    <div style = "width:50%;">
        <input type = "date" formControlName="bookingDate" [min] = "today">
    </div>

    </div>
    
    <div class="form-group">
        <span>Delivery Date</span>
    <div style = "width:50%;">
        <input type = "date" formControlName="deliveryDate" [min] = "today">
    </div>

    </div>
    
    <div class="form-group">
        <span>Delivery Time</span>
    <div style = "width:50%;">
        <input [ngxTimepicker]="picker" formControlName="deliveryTime">
<ngx-material-timepicker #picker></ngx-material-timepicker>
    </div>
    </div>
    

    <div class="form-group">
        <span>Delivery Type</span>
    <div style = "width:50%;">
        <input type = "radio" id = "selfDeliveryType" name = "deliveryType" formControlName = "deliveryType" [value] = "0">
        <label for = "selfDeliveryType">Self</label>
    </div>
    

        <div style = "width:50%;">
            <input type = "radio" id = "hdDeliveryType" name = "deliveryType" formControlName = "deliveryType" [value] = "1">
            <label for = "hdDeliveryType">Home delivery</label>
        </div>
    </div>
    
    </legend>
    <button type = "button" class = "btn btn-success" style = "display: inline-block;" (click)="nextPage()" [disabled] = "this.customerForm.invalid || this.customerForm.pending">Next Page</button>

</form>