<div class="container">
    <div style = "position: absolute; top:40%; left:40%;">
        <img src = "../../assets/sweetShop-maintenance.jpeg" style = "height: 250px; width:250px;">
    </div>
    <div class = "jumbotron" style = "text-align: center;" *ngIf = "type == 'disconnected'">
        <h5>You Got Disconnected! (After paying , it will take around 6-8 hours to make it functioning again.)</h5>
        <p>1.) Open Google Pay / PhonePe / any other app which can scan this QR code.</p>
        <p style = "color: green;">2.) After Paying , Please whatsapp screenshot to 9087003776.</p>
    </div>
</div>